# Data manipulation and ML
pandas==2.3.3
numpy==2.2.6
scikit-learn==1.7.2
imbalanced-learn==0.14.1
matplotlib==3.10.8
tensorflow==2.20.0
joblib==1.5.3

# Backend / API
flask==3.1.2
flask-cors==6.0.2

# Notebook environment (optional for reproducibility)
notebook==7.5.1
ipykernel==7.1.0
